{
  "family": "java",
  "containerDefinitions": [
    {
      "name": "@NAME@",
      "image": "@IMAGE@:@TAG@",
      "memory": 128,
      "mountPoints": [
      {
        "ContainerPath" : "/opt/logs",
        "SourceVolume" : "joinus@NAME@",
        "ReadOnly" : false
      }
      ],
      "portMappings": [
        {
          "containerPort": 8081,
          "protocol": "tcp",
          "hostPort": @PORT@
        }
      ]    
    }
  ]
}
